*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base-button: #163342;
    --base: #555;
    --base-light: #f4f4f4;
    --base-black: #000;
    --yellow: #ffda4b;
    --yellow-light: #fffbe6;
    --yellow-dark: #8b6f00;
    --blue: #0a61ae;
    --blue-light: #f2f8ff;
    --blue-baby: #61dafb;
    --blue-dark: #0a61ae;
}

@font-face {
    font-family: "SF-Pro";
    src: url(fonts/SanFrancisco.ttf) format(truetype);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: SF-Pro, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--blue);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 20px auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0px 2px 4.5px rgba(0, 0, 0, 0.2);

    .logo-header {
        display: flex;
        padding: 10px;
        align-items: center;
        color: var(--base-black);

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--base-black);
            color: var(--base-light);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
        }

        .logo-text {
            flex: 1;
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;

            li {
                display: inline-block;
                transform: translateX(0px);
                transition: 0.2s ease;


                &:hover {
                    transform: translateY(-2px);
                }

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);

                    &:hover {
                        background-color: var(--base-light);
                        border-radius: 10px;
                        text-decoration: none;
                        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
                    }
                }
            }
        }

        .mobile-toggle {
            display: none;
            color: var(--base-black);
            padding: 10px;

            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        margin: 25px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;

                a {
                    width: 75%;
                }

                &.active {
                    display: flex;
                }
            }

            .button {
                max-width: 50%;
            }
        }
    }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-light);
    border-radius: 10px;
    transition: 0.3s ease-in-out;

    &:hover {
        text-decoration: none;
        background-color: var(--base-button);
    }

    &.white {
        background-color: white;
        color: var(--base-black);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            color: var(--base);
        }
    }
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;

    small {
        display: block;
        font-weight: 100;
    }

    @media (max-width: 1024px) {
        font-size: 48px;
    }
}

.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width:1440px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.home {
    display: flex;

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    .home-blue {
        flex: 1;
        background-color: var(--blue-light);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            @media (max-width: 768px) {
                display: none;
            }
        }

        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;

            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        .social-links {

            a {

                img {
                    transition: 0.3s ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        @media (max-width: 468px) {
            p {
                font-size: 18px;
            }
        }
    }

    .home-yellow {
        flex: 1;
        background-color: var(--yellow);
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-top: -60px;
            max-width: 420px;
            margin-bottom: -10px;
        }
    }
}

.logos {
    background-color: #f6f6f6;
    padding: 20px 1px;

    @media (max-width: 1440px) {
        border-radius: 2px;
        max-width: 100%;
    }

    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            justify-content: center;
            gap: 12px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-black);
    padding: 30px;

    small {
        display: block;
        font-weight: 100;
        font-size: 0.9rem;
        color: var(--base);
    }

    @media (max-width: 1024px) {
        font-size: 48px;
        width: 100%;
    }
}

h3 {
    font-size: 32px;
}

.skills {
    .holder-blue {
        background-color: var(--blue-light);
        border-radius: 30px;
        padding: 30px;
        display: flex;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        .left-column {
            flex: 1;

            ul {
                list-style: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;

                li {
                    display: inline-block;
                    background-color: var(--blue-baby);
                    color: var(--blue-dark);
                    font-weight: 500;
                    padding: 10px 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            }

            @media (max-width: 468px) {

                li {
                    font-size: 16px;
                }
            }
        }

        .right-column {
            flex: 1;

            p {
                margin-bottom: 30px;
            }
        }
    }
}

.project-experience {
    margin-bottom: 7rem;

    .project-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .project-content {
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            border-radius: 30px;
            width: 350px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 25px;

            .project-image {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .project-image img {
                width: 80%;
                border-radius: 20px;
            }


            h4 {
                text-align: center;
                font-size: 21px;
            }

            .project-info {
                width: 85%;
                text-align: left;

                p {
                    color: var(--base);
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;

                .button {
                    transition: 0.15s ease-in-out;
                    text-align: center;
                    padding: 10px 15px;
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                    }
                }
            }

        }
    }

    @media (max-width:350px) {
        .button {
            font-size: 14px;
            padding: 2px 5px;
        }
    }

}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        width: 700px;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input,
    textarea {
        display: flex;
    }

    input {
        width: 450px;
        background-color: rgba(0, 0, 0, 0.15);
        font-size: 20px;
        padding: 16px 16px;
        border-radius: 10px;
        margin-bottom: 20px;
        border: none;



        input:focus-within {
            outline: none;
            border-color: var(--base-black);
            border-width: 3px;
        }
    }

    textarea {
        background-color: rgba(0, 0, 0, 0.15);
        font-size: 20px;
        padding: 16px 16px;
        border-radius: 10px;
        margin-bottom: 15px;
        border: none;
        width: 450px;
        resize: none;
    }

    textarea:focus-within {
        outline: none;
        border-color: var(--base-black);
        border-width: 3px;
        background-color: var(white);
    }

    button {
        background-color: var(--blue);
        color: var(--blue-light);
        border: none;
        border-radius: 12px;
        padding: 20px 25px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        text-align: center;
        margin: auto;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: var(--base-button);
            transform: scale(1.1);
        }
    }

    @media (max-width: 768px) {

        form,
        input,
        textarea {
            width: 80%;
        }

    }
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        gap: 25px;
        display: flex;
        text-align: center;

        li {
            display: inline-block;

            transition: 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            font-size: 30px;
        }
    }
}